body {
  font: normal 1.5em Arial;
}

header, footer {
  color: white;
  text-align: center;
}

section {
  width: 500px;
  margin: auto;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
div {
  text-align: center;
  padding-block: 10px;
}

footer {
  font-style: italic;
  padding-top: 10px;
}